<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.weemo.sdk.helper"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="18" />

    <!-- Video conferencing -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- Crash reporting -->
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name="com.weemo.sdk.helper.HelperApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo.Light" >
        <activity android:name="com.weemo.sdk.helper.ConnectActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.weemo.sdk.helper.contacts.ContactsActivity"
            android:theme="@android:style/Theme.Holo" >
        </activity>
        <activity
            android:name="com.weemo.sdk.helper.call.IncomingActivity"
            android:theme="@android:style/Theme.Holo.Dialog" >
        </activity>
        <activity
            android:name="com.weemo.sdk.helper.call.CallActivity"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar.Fullscreen" >
        </activity>
        <activity
            android:name="org.acra.CrashReportDialog"
            android:excludeFromRecents="true"
            android:finishOnTaskLaunch="true"
            android:launchMode="singleInstance"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name="com.github.nativehandler.NativeCrashActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:exported="false"
            android:process=":CrashHandler"
            android:stateNotNeeded="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <service android:name=".ConnectedService" >
        </service>
    </application>

</manifest>